#logo {
	height: 95%;
	width: 95%;
}
/*.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	/* Preload the Second Pricing Image *
	background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}
*/
.banner-name {
	color: #ffffff;
}
blockquote p {
	font-size: 15px;
}
.services {
	margin: 40px 0;
}

.service {
	width: 100%;
	height: 320px;
	margin: 80px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .icon-holder {
	position: relative;
	top: 100px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .heading {
	position: relative;
	top: 80px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
	width: 40px;
}

.service:hover {
	border-color: #29536C;
}

.service:hover .icon-holder {
	top: -30px;
}

.service:hover .heading {
	top: -30px;
}

.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.primary {
	color: #29536C;
}
.arrow {
	font-size: 1.9em; padding-top:10px; color: #ffffff;
}